@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    /* HERO */

    .hero__container {
        padding-top: 18px;
        height: 774px;
    }

    .hero__decoration {
        height: 45.5%;
        object-position: calc(50% - 150px) center;
    }

    .hero__logo {
        width: 213px;
        height: 32px;
    }

    .hero__content {
        margin-top: 40px;
        max-width: 335px;
    }

    .hero__headline {
        font-size: 36px;
    }

    .hero__headline--center {
        margin-left: 63px;
    }

    .hero__description {
        text-align: left;
    }

    .hero__buttons {
        margin-top: 32px;
        grid-template-columns: 1fr;
        row-gap: 14px;
    }

    .hero__button {
        padding: 0;
        height: 47px;
    }

    .hero__button--secondary {
        border: none;
        opacity: 0.9;
        background-color: var(--color-white);
    }

    /* MARQUEE */

    .marquee {
        padding: 10px;
        font-size: 16px;
    }

    /* EVENTS */

    .events {
        margin-top: 48px;
    }

    .events__lecture {
        display: block;
    }

    .events__title {
        font-size: 28px;
    }

    .events__lecture-photo {
        margin-block: 24px;
    }

    .events__seance {
        margin-top: 21px;
        display: block;
    }

    .events__seance-collage-container {
        margin: 0 -20px;
    }

    .events__seance-collage {
        width: 420px;
    }

    .events__seance-content {
        margin-top: 24px;
    }

    .events__seance-details {
        margin-top: 44px;
        display: block;
    }

    .events__seance-details dt {
        padding: 0;
        border: none;
    }

    .events__seance-details dd {
        margin-top: 12px;
        margin-bottom: 15px;
        padding: 0 0 15px;
        border-left: none;
    }

    .events__seance-details dd:last-of-type {
        margin-bottom: 0;
    }

    .events__seance-contact {
        margin-top: 40px;
        font-size: 18px;
    }

    /* MARQUEE FOOTER */

    .marquee-footer {
        margin-top: 100px;
    }

    /* FOOTER */

    .footer {
        padding-bottom: 60px;
    }
}
