body {
    font-family: 'Golos Text', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

.headline {
    font-size: 60px;
    line-height: 1.1;
}

.container {
    max-width: 1222px;
    margin: 0 auto;
}
