:root {
    --transition: 100ms ease-in-out;
    --carousel-transition: 250ms ease-in-out;

    --color-white: #FFFFFF;
    --color-dark: #313131;
    --color-blue: #3057A2;
    --color-yellow: #FBCE51;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Golos Text', sans-serif;
    color: var(--color-dark);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

a {
    color: var(--color-blue);
}

.container {
    max-width: 1262px;
    margin: 0 auto;
    padding-inline: 20px;
}

.font-serif {
    font-family: 'Merriweather', serif;
}

.uppercase {
    text-transform: uppercase;
}

/* HERO */

.hero {
    position: relative;
    background-color: #E9DED4;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/hero-texture.webp');
    background-size: auto;
    background-position: center;
    mix-blend-mode: color-burn;
    opacity: 0.6;
    pointer-events: none;
    z-index: 2;
}

.hero__container {
    position: relative;
    padding-top: 26px;
    height: 700px;
    z-index: 3;
}

.hero__decoration {
    position: absolute;
    height: 122%;
    bottom: -7%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: calc(50% + 10px) center;
    z-index: 1;
}

.hero__content {
    margin-top: 62px;
    max-width: 542px;
}

.hero__headline {
    font-weight: 400;
    font-size: 60px;
    line-height: 1.1;
}

.hero__headline--center {
    display: block;
    margin-left: 104px;
}

.hero__headline--end {
    display: block;
    text-align: end;
}

.hero__description {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.hero__buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.hero__button {
    height: 72px;
    padding-inline: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    border-radius: 66px;
    transition: background-color var(--transition), color var(--transition);
}

.hero__button--primary {
    background: #1F1F1F;
    color: var(--color-white);
}

@media (hover: hover) {
    .hero__button--primary:hover {
        background: var(--color-yellow);
        color: #1F1F1F;
    }
}

.hero__button--secondary {
    color: var(--color-dark);
    border: 2px solid #1F1F1F;
}

@media (hover: hover) {
    .hero__button--secondary:hover {
        background: #1F1F1F;
        color: var(--color-white);
    }
}

/* MARQUEE */

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquee {
    padding: 18px;
    font-size: 22px;
    line-height: 1.1;
    overflow: hidden;
    background-color: #F54932;
    color: var(--color-white);
}

.marquee__track {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

/* EVENTS */

.events {
    margin-top: 80px;
}

.events__lecture {
    display: flex;
    column-gap: 64px;
    align-items: center;
}

.events__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.35;
}

.events__title--red {
    font-weight: 700;
    color: #F54932;
}

.events__seance {
    margin-top: 64px;
    display: flex;
    column-gap: 44px;
}

.events__seance-collage-container {
    flex-shrink: 0;
    margin: -42px -28px -13px;
}

.events__seance-collage {
    display: block;
    width: 529px;
}

.events__seance-details {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.events__seance-details-row {
    display: contents;
}

.events__seance-details dt {
    opacity: 0.7;
    padding: 15px 15px 15px 0;
    border-bottom: 2px solid #D0D0D0;
}

.events__seance-details dd {
    font-weight: 600;
    padding: 15px 0 15px 15px;
    border-bottom: 2px solid #D0D0D0;
    border-left: 2px solid #D0D0D0;
}

.events__seance-details-row:first-child > dt,
.events__seance-details-row:first-child > dd {
    padding-top: 0;
}

.events__seance-details-row:last-child > dt,
.events__seance-details-row:last-child > dd {
    padding-bottom: 0;
    border-bottom: none;
}

.events__seance-details-price {
    display: flex;
    column-gap: 12px;
}

.events__seance-details-price--old {
    position: relative;
    display: inline-block;
}

.events__seance-details-price--old::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background: #F54932;
    border-radius: 66px;
}

.events__seance-contact {
    margin-top: 48px;
    display: block;
}

/* STAGES */

.stages {
    margin-top: 200px;
}

.stages__container {
    position: relative;
}

.stages__header {
    position: relative;
    max-width: 806px;
}

.stages__title {
    font-weight: 400;
    font-size: 54px;
}

.stages__link {
    position: absolute;
    max-width: 280px;
    right: 225px;
    bottom: 10px;
}

.stages__viewport {
    margin-top: 54px;
}

.stages__items {
    position: relative;
    display: grid;
    grid-template: 1fr 1fr auto / 1fr 1fr 1fr;
    gap: 20px;
}

.stages__plane {
    position: absolute;
    right: -42px;
    bottom: 0;
    z-index: 1;
}

.stages__item {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 16px;
}

.stages__item::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/stages-item-bg.webp');
    background-size: auto;
    background-position: center;
    mix-blend-mode: color-burn;
    opacity: 0.8;
    pointer-events: none;
}

.stages__item::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/stages-item-texture.webp');
    background-size: auto;
    background-position: center;
    mix-blend-mode: color-burn;
    opacity: 0.3;
    pointer-events: none;
}

.stages__item--span-rows {
    grid-row: span 2;
}

.stages__item--span-cols {
    grid-column: span 2;
    padding-right: 290px;
}

.stages__slide {
    display: contents;
}

.stages__nav {
    display: none;
}

.stages__item-number {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    border-radius: 50%;
}

.stages__item-text {
    font-weight: 500;
}

/* PARTICIPANTS */

.participants {
    margin-top: 200px;
}

.participants__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participants__title {
    font-weight: 400;
    font-size: 54px;
}

.participants__nav {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.participants__nav-button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 50%;
    transition: background-color var(--transition);
}

@media (hover: hover) {
    .participants__nav-button:hover {
        background-color: var(--color-yellow);
    }
}

.participants__nav-button:disabled {
    pointer-events: none;
    background-color: #D6D6D6;
}

.participants__nav-content {
    display: flex;
    column-gap: 1px;
}

.participants__nav-content--muted {
    opacity: 0.6;
}

.participants__viewport {
    margin-top: 60px;
    overflow: hidden;
}

.participants__track {
    display: flex;
    column-gap: 20px;
}

.participants__item {
    flex: 0 0 calc((100% - 20px * 2) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participants__item-name {
    margin-top: 28px;
    font-weight: 600;
    font-size: 24px;
}

.participants__item-grade {
    margin-top: 6px;
    opacity: 0.6;
}

.participants__item-more {
    margin-top: 20px;
    padding-inline: 12px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 66px;
}

/* MARQUEE FOOTER */

.marquee-footer {
    margin-top: 140px;
}

/* FOOTER */

.footer {
    padding-top: 40px;
    padding-bottom: 72px;
    background-color: #E9DED4;
}

.footer__text {
    font-size: 16px;
    opacity: 0.6;
}
