:root {
    --transition: 100ms ease-in-out;
}

body {
    font-family: 'Golos Text', sans-serif;
    color: #313131;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

a {
    color: #3057A2;
}

.container {
    max-width: 1222px;
    margin: 0 auto;
}

.font-serif {
    font-family: 'Merriweather', serif;
}

.uppercase {
    text-transform: uppercase;
}

/* HERO */

.hero {
    padding-top: 26px;
    position: relative;
    background-color: #E9DED4;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/hero-texture.webp');
    background-size: cover;
    mix-blend-mode: color-burn;
    opacity: 0.6;
    pointer-events: none;
    z-index: 2;
}

.hero__container {
    position: relative;
    height: 700px;
    z-index: 3;
}

.hero__decoration {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.hero__content {
    max-width: 542px;
    margin-top: 62px;
}

.hero__headline {
    font-weight: 400;
    font-size: 60px;
    line-height: 1.1;
}

.hero__headline--center {
    display: block;
    text-align: center;
}

.hero__description {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.hero__buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.hero__button {
    height: 72px;
    padding: 0 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    border-radius: 66px;
    transition: background-color var(--transition), color var(--transition);
}

.hero__button--primary {
    background: #1F1F1F;
    color: #FFFFFF;
}

.hero__button--primary:hover {
    background: #FBCE51;
    color: #1F1F1F;
}

.hero__button--outline {
    border: 2px solid #1F1F1F;
}

.hero__button--outline:hover {
    background: #1F1F1F;
    color: #FFFFFF;
}

/* MARQUEE */

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquee {
    padding: 18px;
    font-size: 22px;
    line-height: 1.1;
    overflow: hidden;
    background-color: #F54932;
    color: #FFFFFF;
}

.marquee__track {
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

/* EVENTS */

.events {
    margin-top: 80px;
}

.events__lecture {
    display: flex;
    column-gap: 64px;
    align-items: center;
}

.events__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.35;
}

.events__title--red {
    font-weight: 600;
    color: #F54932;
}

.events__seance {
    margin-top: 64px;
    display: flex;
    column-gap: 44px;
}

.events__seance-collage-container {
    flex-shrink: 0;
    margin: -28px -28px -13px;
}

.events__seance-collage {
    display: block;
    width: 529px;
}

.events__seance-details {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.events__seance-details dt {
    opacity: 0.7;
    padding: 16px 16px 16px 0;
    border-bottom: 2px solid #D0D0D0;
}

.events__seance-details dd {
    font-weight: 500;
    padding: 16px 0 16px 16px;
    border-bottom: 2px solid #D0D0D0;
    border-left: 2px solid #D0D0D0;
}

.events__seance-details dt:first-of-type,
.events__seance-details dd:first-of-type {
    padding-top: 0;
}

.events__seance-details dt:last-of-type,
.events__seance-details dd:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.events__seance-details-price {
    display: flex;
    column-gap: 12px;
}

.events__seance-details-price--old {
    position: relative;
    display: inline-block;
}

.events__seance-details-price--old::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background: #F54932;
    border-radius: 66px;
}

.events__seance-contact {
    margin-top: 48px;
    display: block;
}

/* MARQUEE FOOTER */

.marquee-footer {
    margin-top: 140px;
}

/* FOOTER */

.footer {
    padding: 40px 0 72px 0;
    background-color: #E9DED4;
}

.footer__text {
    font-size: 16px;
    opacity: 0.6;
}
